<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function updateBar(id, value) {
        let bar = document.getElementById(id);
        let text = document.getElementById('h_' + id);
        
        bar.value = bar.value + (10 * value);
        text.textContent = `Led ${id} (${bar.value}%)`;
    
        //Envio los valores al back
        $.ajax({
          type: 'POST',
          url: '/updateBar',
          data: { id: id, value: bar.value },
          success: () => {}
        });
      }

      function onOff(value) {
        document.getElementById('h_13').textContent = `Led 13 - ${value == 0 ? 'Apagado' : 'Encendido'}`;
    
        //Envio los valores al back
        $.ajax({
          type: 'POST',
          url: '/onOff',
          data: { value: value },
          success: () => {}
        });
      }

      setInterval(() => {
        //Obtiene los datos del arduino
        $.ajax({
          type: 'GET',
          url: '/getSensorValue',
          success: oResult => {
            document.getElementById('h_A3').textContent = `Nivel de brillo detectado: ${oResult}`;
          }
        });
      }, 1000);

    </script>
</head>
<body>
    <div style="display:grid;grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));justify-content: space-around;">
      <center>
        <h1 id="h_9">Led 9 (0%)</h1>
        <button onclick="updateBar('9', -1)">-</button>
        <progress id="9" value="0" max="100"></progress>
        <button onclick="updateBar('9', 1)">+</button>
      </center>
      <center>
        <h1 id="h_10">Led 10 (0%)</h1>
        <button onclick="updateBar('10', -1)">-</button>
        <progress id="10" value="0" max="100"></progress>
        <button onclick="updateBar('10', 1)">+</button>
      </center>
      <center>
        <h1 id="h_11">Led 11 (0%)</h1>
        <button onclick="updateBar('11', -1)">-</button>
        <progress id="11" value="0" max="100"></progress>
        <button onclick="updateBar('11', 1)">+</button>
      </center>
      <center>
        <h1 id="h_13">Led 13 - Apagado</h1>
        <button onclick="onOff(1)">Encender</button>
        <button onclick="onOff(0)">Apagar</button>
      </center>
      <center>
        <h1 id="h_A3"></h1>
      </center>
    </div>
</body>
</html>

